:root {
	--niktox2_1: #141004;
	--niktox2_2: #120503;
}

html[data-theme="black"] {
	--background: rgb(0, 0, 0);
	--color: rgb(255, 255, 255);
	--svg: rgb(255, 255, 255);
	--cursor: url("/cursor/white/cursor.png");
}

html[data-theme="dark"] {
	--background: rgb(16, 16, 16);
	--color: rgb(255, 255, 255);
	--svg: rgb(255, 255, 255);
	--cursor: url("/cursor/white/cursor.png");
}

html[data-theme="white"] {
	--background: rgb(255, 255, 255);
	--color: rgb(0, 0, 0);
	--svg: rgb(0, 0, 0);
	--cursor: url("/cursor/black/cursor.png");
}