div.fix {
	flex-direction: column;
}

#content.fix {
	align-items: center;
	justify-content: center;
}

.dialogue button.fix {
	margin: 0 12px;
}

.dialogue p#answer {
   height: 100%;
   width: 100%;
   align-items: center;
   justify-content: center;
}

li.fix {
   width: 100%;
}

#menu-add li.fix {
   padding: 0 8%;
   justify-content: start;
   min-height: 45px;
}