*, *::after, *::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	line-height: 1;
}

ul, ol, li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

video {
	width: 100%;
}

a {
	align-items: center;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}