*, *::after, *::before {
	color: var(--color);
	user-select: none;
}

/*
--- --- --- --- ---
*/

body, header, main, footer, 
div, nav, ul, li, a, span, p, label {
	display: flex;
}

html {
	background-color: var(--background);
}

button {
	background: transparent;
}

.dialogue {
	min-width: 300px;
	min-height: 110px;
	flex-direction: column;
	align-items: center;
}

.icon {
	fill: var(--svg);
}

#answer {
	text-align: center;
	white-space: pre-line;
}

#answer-user {
	background: transparent;
	/*border: 1px solid;
	border-bottom-color: currentcolor;*/
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 4px;
	outline: none;
	user-select: auto;
   margin: 12px 0;
   text-align: center;
}

p {
	hyphens: auto;
}

/*
--- --- --- --- ---
*/

.hide{
	display: none;
}

.mr12 {
	margin-right: 12px;
}