/* Google Fonst - Roboto - Regular - 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* main */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/*
---------
element
---------
*/
a{
    text-decoration: none;
}
button,
input{
    border-style: none;
    background-color: transparent;
}
input{
    outline: none;
}
ul{
    list-style-type: none;
}
textarea{
    border-width: 0;
    resize: none;
    outline: none;
}
img{
    width: 24px;
    height: 24px;
}
.img32{
    width: 32px;
    height: 32px;
}
/*
------------------
width and height
------------------
*/
.wHFull{
    width: 100%;
    height: 100%;
}
.widthFull{
    width: 100%;
}
.width50{
    width: 50px;
}
.maxWidth200{
    max-width: 200px;
}
.heightAuto{
    height: auto;
}
.heightFull{
    height: 100%;
}
/*
--------------------------------
position for fixed and absolute
--------------------------------
*/
.top0{
    top: 0;
}
.bottom0{
    bottom: 0;
}
/*
-------------------
padding and margin
-------------------
*/
.padding5{
    padding: 5px;
}
.padding10{
    padding: 10px;
}
.marginTop10{
    margin-top: 10px;
}
.marginLeft10px{
    margin-left: 10px;
}
/*
---------
display
---------
*/
.displayFlex{
    display: flex;
}
.displayNone{
    display: none;
}
.positionFixed{
    position: fixed;
}
.positionAbsolute{
    position: absolute;
}
.positionRelative{
    position: relative;
}
/*
----------------
flex component
----------------
*/
.flexDirectionColumnReverse{
    flex-direction: column-reverse;
}
.flexDirectionColumn{
    flex-direction: column
}
.center{
    align-items: center;
    justify-content: center;
    align-content: center;
}
.alignItemsFlexEnd{
    align-items: flex-end;
}
.justifyContentSpaceBetween{
    justify-content: space-between;
}
.justifyContentFlexEnd{
    justify-content: flex-end;
}
/*
-------------------

-------------------
*/
.borderSolid1{
    border: 1px solid
}
.textCenter{
    text-align: center;
}
.textAlignLeft{
    text-align: left;
}
.overflow{
    overflow: auto;
}
.overflowXClip{
    overflow-x: clip;
}
.wordWrapBreakWord{
    word-wrap: break-word;
}
.backgroundTransparent{
    background: transparent;
}
.wordBreakBreakAll{
    word-break: break-all;
}
.overflowWrapAnywhere{
    overflow-wrap: anywhere;
}
.overflowHidden{
    overflow: hidden;
}