:root{
    --Color18: rgb(18, 18, 18);
    --Color56: rgb(56, 56, 56);
    --Color212: rgb(212, 212, 212);
    --Color238: rgb(238, 238, 238);
}

html[data-theme='light']{
    --backgroundColor: var(--Color238);
    --backgroundColor2: var(--Color56);
    --textColor: var(--Color56);
    --textColor2: var(--Color238);
    --slider: var(--Color56);
    --cursor: url(/img/icon/dark/cursor.png)
}

html[data-theme='dark']{
    --backgroundColor: var(--Color18);
    --backgroundColor2: var(--Color212);
    --textColor: var(--Color212);
    --textColor2: var(--Color18);
    --slider: var(--Color212);
    --cursor: url(/img/icon/light/cursor.png)
}

/* Google Fonst - Roboto - Regular - 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* main */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--textColor);
    cursor: var(--cursor), default;
    /*transition: all 0.3s ease-out;*/
}
*::selection{
    background-color: var(--backgroundColor2);
    color: var(--textColor2);
}

/*--- ---*/
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--backgroundColor);
}
a{
    text-decoration: none;
}
button,
input{
    border-style: none;
    background-color: transparent;
}
input{
    outline: none;
}
input[type=checkbox]:checked::after {
    background-color: var(--backgroundColor);
}
input[type=checkbox]:checked {
    background-color: var(--textColor);
}
ul{
    list-style-type: none;
}

/*--- ---*/
.wHFull{
    width: 100%;
    height: 100%;
}
.widthFull{
    width: 100%;
}
.heightFull{
    height: 100%;
}
.padding10px{
    padding: 10px;
}
.paddingLR10px{
    padding: 0 10px 0;
}
.marginLeft10px{
    margin-left: 10px;
}
.displayNone{
    display: none;
}
.displayFlex{
    display: flex;
}
.positionAbsolute{
    position: absolute;
}
.positionFixed{
    position: fixed;
}
.positionRelative{
    position: relative;
}
.flexDirectionColumn{
    flex-direction: column
}
.justifyContentSpaceBetween{
    justify-content: space-between;
}
.justifyContentSpaceEvenly{
    justify-content: space-evenly;
}
.center{
    align-items: center;
    justify-content: center;
    align-content: center;
}

/*--- scrollbar ---*/
::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--backgroundColor2);
	border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
    background-color: transparent
}
/*--- ---*/
/*--- ---*/
/*--- ---*/
#menu{
    z-index: 50;
    backdrop-filter: blur(20px);
    box-shadow: inset 0px 0px 20px 40px var(--backgroundColor);
}
.menuText{
    font-weight: bold; 
    font-size: 1.3rem; 
    text-decoration: underline;
}
.divText{
    white-space: pre-line;
    line-height: 1.5rem;
}
.overflowYScroll{
    overflow-y: scroll;
}
.divLine{
    display: flex;
    height: 2px;
    width: 80%;
    margin: 1rem auto;
    border-radius: 1px;
    background-color: var(--backgroundColor2);
}
/*--- ---*/
/*--- ---*/
/*--- ---*/
.switch {
    font-size: 16px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider);
    transition: 0.3s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: #fff;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: var(--backgroundColor2);
}/*
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}*/
input:checked + .slider:before {
    transform: translateX(1.5em);
}
/*--- ---*/
/*--- ---*/
/*--- ---*/
.menuLine {
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--backgroundColor2);
}
.menuLineLeft {
    width: 17px;
}
.menuLineRight {
    width: 17px;
    margin-left: auto;
}
#buttonMenu:hover .menuLineLeft,
#buttonMenu:hover .menuLineRight{
    width: 30px;
}