#body{
    min-width: 310px;
}
#main{
	margin: 0 auto;
}
#basement:empty{
    max-height: 42px;
}
.divText{
    white-space: pre-line;
    line-height: 24px;
}
.menuFixed{
    position: fixed;
    bottom: 0;
    left: 0;
}
.aButton{
    border: 1px solid;
    border-radius: 10px;
}
/*
-------------------
checkbox-theme
-------------------
*/
input[type=checkbox]{
	position: relative;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    appearance: none;
}
input[type=checkbox]::after{
	content: "";
    position: absolute;
    left: 2px;
    top: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: translateX(0);
}

input[type=checkbox]:checked::after {
    transform: translateX(100%);
}
/*
-------------------
scrollbar
-------------------
*/
::-webkit-scrollbar {
	width: 14px;
}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
    background-color: transparent
}