:root{
    --dark: rgb(18, 18, 18);/*#121212*/
    --dark-text: rgb(212, 212, 212);/*#d4d4d4*/
}
*{
    background-color: var(--dark);
    color: var(--dark-text);
    cursor: url(/img/icon/light/cursor.png), default;
}
*::selection{
    background-color: var(--dark-text);
    color: var(--dark);
}
.aButton{
    background-color: var(--dark-text);
    color: var(--dark);
    border-radius: 6px;
}
.card{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
}
/*
-------------------

-------------------
*/
::-webkit-scrollbar-thumb {
	background-color: var(--dark-text);
}
/*
-------------------
checkbox-theme
-------------------
*/
input[type=checkbox]{
    background-color: var(--dark-text);
}
input[type=checkbox]::after{
    background-color: var(--dark);
}